html
{
    overflow: hidden;
}

header
{
    width: 100%;
    margin-top: 0;
    padding: 0;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4D4D4D;
    text-align: center;
    height: 232px;
}

footer
{
    width: 100%;
    height: 100px;
    background-color: #4D4D4D;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 20px;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
<<<<<<< HEAD
}

main{
    height: 88vh;
    margin: 4vh;
=======
}

.glitch
{
    animation: glitch 2.5s steps(100) infinite;
}

.Q
{
    font-size: 120px;
    text-shadow: 12px 0 gray;
}


h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 80px;
    margin: 0;
    padding: 0;
    text-shadow: 5px 0 gray;
    margin-bottom: -70px;
}

.sub-title
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 0;
}

main
{
    height: calc(100% - 332px);
    margin-top: 232px;
>>>>>>> refs/remotes/origin/Pre-Alpha
    background-color: #ffffff;
    text-align: center;
    transition: 5s linear background-color;
}

<<<<<<< HEAD
  nav {
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
    width: 1000px;
  }

button{
    width: 200px;
=======
nav
{
    width: 100%;
    border-bottom: 3px dashed #ffffff;
    padding-bottom: 10px;
    text-align: center;
}

button
{
    width: 24%;
>>>>>>> refs/remotes/origin/Pre-Alpha
    padding: 5px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Yu Gothic';
    background-color: #000000;
    border: 4px solid #000000;
    outline: none;
    color: #ffffff;
    margin-top: 12px;
    transition: 0.15s linear color, 0.15s linear background-color, 0.3s ease-in transform;
}

button:hover
{
    background-color: #ffffff;
    color: #000000;
    font-weight: 1500;
}

#StartQuiz
{
    margin-top: 50px;
    width: 49%;
    height: 200px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 80px;
}

<<<<<<< HEAD
.marginFix{
  margin-right: 10px;
}

.selected {
  background-color: #ffffff;
  color: #000000;
}

.selected:hover {
  background-color: #ffffff;
}

.disclaimer{
  font-style: italic;
}

#specialButton{
=======
#StartQuiz:hover
{
    animation: glitch 1.5s steps(100) infinite;
}

.marginFix
{
    margin-right: 1%;
}

.selected
{
    background-color: #ffffff;
    color: #000000;
}

.selected:hover
{
    background-color: #ffffff;
}

.disclaimer
{
    font-style: italic;
}

.leaderboard
{
    margin-right: auto;
    margin-left: auto;
}

.leaderboard-bottom
{
    background-image: url(https://pixabay.com/static/uploads/photo/2015/04/20/08/31/board-730793_960_720.jpg);
    background-attachment: fixed;
    background-size: 400px;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    width: 410px;
    font-size: 23px;
    font-family: arial;
    font-weight: bolder  ;
}

.backgroundbutton
{
    background-image: url(https://pixabay.com/static/uploads/photo/2015/04/20/08/31/board-730793_960_720.jpg);
    background-attachment: fixed;
    background-size: 400px;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    font-size: 23px;
    font-family: arial;
    font-weight: bolder;
}

.score
{
    letter-spacing: 2px;
}

.leaderboard-top
{
    background-color: #ffffff;
    color: #000000;
    border-style: dashed;
    font-size: 25px;
    font-family: arial;
    font-weight: bolder;
    width: 300px;
}

.leaderboard-left
{
    padding-right: 20px;
}

#specialButton
{
>>>>>>> refs/remotes/origin/Pre-Alpha
    width: 842px;
}

#explanation
{
    margin-left: ;
}

@keyframes glitch {
    0% {text-shadow: 1px 0 5px red, -1px 0 5px blue, 12px 0 5px #2D2D2D;}
    4% {text-shadow: 1px 0 5px red, -1px 0 5px blue, 12px 0 5px #2D2D2D;}
    5% {text-shadow: -1px 0 5px red, 1px 0 5px blue, 12px 0 5px #2D2D2D;}
    10% {text-shadow: -1px 0 5px red, 1px 0 5px blue, 12px 0 5px #2D2D2D;}
    11% {text-shadow: 0.5px 0 5px red, -0.5px 0 5px lime, 12px 0 5px #2D2D2D;}
    15% {text-shadow: 0.5px 0 5px red, -0.5px 0 5px lime, 12px 0 5px #2D2D2D;}
    16% {text-shadow: -1px 0 5px red, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
    20% {text-shadow: -1px 0 5px red, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
    21% {text-shadow: 0.7px 0 5px blue, -0.7px 0 5px lime, 12px 0 5px #2D2D2D;}
    30% {text-shadow: 0.7px 0 5px blue, -0.7px 0 5px lime, 12px 0 5px #2D2D2D;}
    31% {text-shadow: -1px 0 5px blue, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
    40% {text-shadow: -1px 0 5px blue, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
    41% {text-shadow: 50px 0 5px blue, -50px 0 5px lime, 12px 0 5px #2D2D2D;}
    42% {text-shadow: 0 0 5px blue, 0 0 0 lime, 12px 0 5px #2D2D2D;}
    43% {text-shadow: 0.5px 0 5px red, -0.5px 0 5px lime, 12px 0 5px #2D2D2D;}
    46% {text-shadow: 0.5px 0 5px red, -0.5px 0 5px lime, 12px 0 5px #2D2D2D;}
    47% {text-shadow: -1px 0 5px red, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
    50% {text-shadow: -1px 0 5px red, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
    51% {text-shadow: 1px 0 5px red, -1px 0 5px blue, 12px 0 5px #2D2D2D;}
    55% {text-shadow: 1px 0 5px red, -1px 0 5px blue, 12px 0 5px #2D2D2D;}
    56% {text-shadow: -1px 0 5px red, 1px 0 5px blue, 12px 0 5px #2D2D2D;}
    60% {text-shadow: -1px 0 5px red, 1px 0 5px blue, 12px 0 5px #2D2D2D;}
    61% {text-shadow: 30px 0 5px red, -30px 0 5px lime, 12px 0 5px #2D2D2D;}
    62% {text-shadow: 0 0 5px red, 0 0 5px lime, 12px 0 5px #2D2D2D;}
    63% {text-shadow: 0.5px 0 5px red, -0.5px 0 5px blue, 12px 0 5px #2D2D2D;}
    66% {text-shadow: 0.5px 0 5px red, -0.5px 0 5px blue, 12px 0 5px #2D2D2D;}
    67% {text-shadow: -1px 0 5px red, 1px 0 5px blue, 12px 0 5px #2D2D2D;}
    70% {text-shadow: -1px 0 5px red, 1px 0 5px blue, 12px 0 5px #2D2D2D;}
    71% {text-shadow: 70px 0 5px red, -45px 0 5px blue, 12px 0 5px #2D2D2D;}
    72% {text-shadow: 0 0 5px red, 0 0 5px blue, 12px 0 5px #2D2D2D;}
    73% {text-shadow: 1px 0 5px red, -1px 0 5px blue, 12px 0 5px #2D2D2D;}
    76% {text-shadow: 1px 0 5px red, -1px 0 5px blue, 12px 0 5px #2D2D2D;}
    77% {text-shadow: -1px 0 5px red, 1px 0 5px blue, 12px 0 5px #2D2D2D;}
    80% {text-shadow: -1px 0 5px red, 1px 0 5px blue, 12px 0 5px #2D2D2D;}
    81% {text-shadow: 0.5px 0 5px red, -0.5px 0 5px lime, 12px 0 5px #2D2D2D;}
    85% {text-shadow: 0.5px 0 5px red, -0.5px 0 5px lime, 12px 0 5px #2D2D2D;}
    86% {text-shadow: -1px 0 5px red, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
    90% {text-shadow: -1px 0 5px red, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
    91% {text-shadow: 60px 0 5px lime, -60px 0 5px blue, 12px 0 5px #2D2D2D;}
    92% {text-shadow: 0 0 5px lime, 0 0 5px blue, 12px 0 5px #2D2D2D;}
    92% {text-shadow: 0.7px 0 5px blue, -0.7px 0 5px lime, 12px 0 5px #2D2D2D;}
    95% {text-shadow: 0.7px 0 5px blue, -0.7px 0 5px lime, 12px 0 5px #2D2D2D;}
    96% {text-shadow: -1px 0 5px blue, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
    100% {text-shadow: -1px 0 5px blue, 1px 0 5px lime, 12px 0 5px #2D2D2D;}
}
