html
{
    overflow: hidden;
}

section
{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 0;
    display: inline-block;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 80px;
    margin: 0;
    padding: 0;
    text-shadow: 5px 0 gray;
}

.Q
{
    font-size: 120px;
    text-shadow: 12px 0 gray;
}

main
{
    height: 88vh;
    margin: 4vh;
    background-color: #ffffff;
    text-align: center;
    transition: 5s linear background-color;
}

nav
{
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
    width: 1200px;
}

button
{
    width: 200px;
    padding: 5px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Yu Gothic';
    background-color: #000000;
    border: 4px solid #000000;
    outline: none;
    color: #ffffff;
    margin-top: 12px;
    transition: 0.15s linear color, 0.15s linear background-color, 0.3s ease-in transform;
}

button:hover
{
    background-color: #ffffff;
    color: #000000;
    font-weight: 1500;

}

.marginFix
{
  margin-right: 10px;
}

.selected
{
  background-color: #ffffff;
  color: #000000;
}

.selected:hover
{
  background-color: #ffffff;
}

.disclaimer
{
  font-style: italic;
}

.leaderboard
{
    margin-right: auto;
    margin-left: auto;
}

.leaderboard-bottom
{
    background-image: url(https://pixabay.com/static/uploads/photo/2015/04/20/08/31/board-730793_960_720.jpg);
    background-attachment: fixed;
    background-size: 400px;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    width: 410px;
    font-size: 23px;
    font-family: arial;
    font-weight: bolder;
}

.backgroundbutton
{
    background-image: url(https://pixabay.com/static/uploads/photo/2015/04/20/08/31/board-730793_960_720.jpg);
    background-attachment: fixed;
    background-size: 400px;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    font-size: 23px;
    font-family: arial;
    font-weight: bolder;
}

.score
{
    letter-spacing: 2px;
}

.leaderboard-top
{
    background-color: #ffffff;
    color: #000000;
    border-style: dashed;
    font-size: 25px;
    font-family: arial;
    font-weight: bolder;
    width: 300px;
}

.leaderboard-left
{
    padding-right: 20px;
}

#specialButton
{
    width: 842px;
}

#explanation
{
    margin-left: ;
}
