html
{
    overflow: hidden;
}

section
{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 0;
    display: inline-block;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.glitch{
    animation: glitch 2.5s steps(100) infinite;
}

.Q
{
    font-size: 120px;
    text-shadow: 12px 0 gray;
}


h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 80px;
    margin: 0;
    padding: 0;
    text-shadow: 5px 0 gray;
}




main
{
    height: 88vh;
    margin: 4vh;
    background-color: #ffffff;
    text-align: center;
    transition: 5s linear background-color;
}

nav
{
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
    width: 1200px;
}

button
{
    width: 200px;
    padding: 5px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Yu Gothic';
    background-color: #000000;
    border: 4px solid #000000;
    outline: none;
    color: #ffffff;
    margin-top: 12px;
    transition: 0.15s linear color, 0.15s linear background-color, 0.3s ease-in transform;
}

button:hover
{
    background-color: #ffffff;
    color: #000000;
    font-weight: 1500;

}

.marginFix
{
  margin-right: 10px;
}

.selected
{
  background-color: #ffffff;
  color: #000000;
}

.selected:hover
{
  background-color: #ffffff;
}

.disclaimer
{
  font-style: italic;
}

.leaderboard
{
    margin-right: auto;
    margin-left: auto;
}

.leaderboard-bottom
{
    background-image: url(https://pixabay.com/static/uploads/photo/2015/04/20/08/31/board-730793_960_720.jpg);
    background-attachment: fixed;
    background-size: 400px;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    width: 410px;
    font-size: 23px;
    font-family: arial;
    font-weight: bolder;
}

.backgroundbutton
{
    background-image: url(https://pixabay.com/static/uploads/photo/2015/04/20/08/31/board-730793_960_720.jpg);
    background-attachment: fixed;
    background-size: 400px;
    color: #000000;
    font-size: 20px;
    letter-spacing: -1px;
    font-size: 23px;
    font-family: arial;
    font-weight: bolder;
}

.score
{
    letter-spacing: 2px;
}

.leaderboard-top
{
    background-color: #ffffff;
    color: #000000;
    border-style: dashed;
    font-size: 25px;
    font-family: arial;
    font-weight: bolder;
    width: 300px;
}

.leaderboard-left
{
    padding-right: 20px;
}

#specialButton
{
    width: 842px;
}

#explanation
{
    margin-left: ;
}

@keyframes glitch {
  0% {text-shadow: 1px 0 0 red, -1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  4% {text-shadow: 1px 0 0 red, -1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  5% {text-shadow: -1px 0 0 red, 1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  10% {text-shadow: -1px 0 0 red, 1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  11% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  15% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  16% {text-shadow: -1px 0 0 red, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  20% {text-shadow: -1px 0 0 red, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  21% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime, 12px 0 grey; transform: rotateZ(7deg);}
  30% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime, 12px 0 grey; transform: rotateZ(7deg);}
  31% {text-shadow: -1px 0 0 blue, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  40% {text-shadow: -1px 0 0 blue, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  41% {text-shadow: 50px 12px 0 blue, -50px -40px 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  42% {text-shadow: 0 0 0 blue, 0 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  43% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  46% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  47% {text-shadow: -1px 0 0 red, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  50% {text-shadow: -1px 0 0 red, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  51% {text-shadow: 1px 0 0 red, -1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  55% {text-shadow: 1px 0 0 red, -1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  56% {text-shadow: -1px 0 0 red, 1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  60% {text-shadow: -1px 0 0 red, 1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  61% {text-shadow: 30px 0 0 red, -30px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  62% {text-shadow: 0 0 0 red, 0 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  63% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  66% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  67% {text-shadow: -1px 0 0 red, 1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  70% {text-shadow: -1px 0 0 red, 1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  71% {text-shadow: 70px -30px 0 red, -45px 120px 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  72% {text-shadow: 0 0 0 red, 0 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  73% {text-shadow: 1px 0 0 red, -1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  76% {text-shadow: 1px 0 0 red, -1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  77% {text-shadow: -1px 0 0 red, 1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  80% {text-shadow: -1px 0 0 red, 1px 0 0 blue, 12px 0 grey; transform: rotateZ(0deg);}
  81% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  85% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  86% {text-shadow: -1px 0 0 red, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  90% {text-shadow: -1px 0 0 red, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  91% {text-shadow: 60px -29px 0 lime, -60px 45px 0 blue, 12px 0 grey; transform: rotateZ(90deg);}
  92% {text-shadow: 0 0 0 lime, 0 0 0 blue, 12px 0 grey; transform: rotateZ(-45deg);}
  92% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  95% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  96% {text-shadow: -1px 0 0 blue, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
  100% {text-shadow: -1px 0 0 blue, 1px 0 0 lime, 12px 0 grey; transform: rotateZ(0deg);}
}
